################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MapStepsGame/bin
/PublishScripts
/packages
